@model List<ResultWearDto>
@*
    _UIBillboardCardComponent
*@


<div class="row position-relative">


    <div class="text-end mb-3">
        <a href="/Wear/Index"
           class="text-uppercase fw-semibold text-decoration-none">
            Hepsini Gör
        </a>
    </div>

    <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
        <div class="swiper-wrapper d-flex border-animation-left">

            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="banner-item image-zoom-effect">

                        <div class="image-holder">
                            <a href="/Product/GetWearByProduct/@item.WearId">
                                <img src="@item.ImageUrl" alt="@item.Title">
                            </a>
                        </div>

                        <div class="banner-content py-4">

        
                            <h5 class="element-title text-uppercase mb-1">
                                <a href="/Product/GetWearByProduct/@item.WearId"
                                   class="item-anchor">
                                    @item.Title
                                </a>
                            </h5>

        
                            <div class="mb-2">
                                <a href="/Wear/GetCategoryIdWear/@item.CategoryId"
                                   class="text-muted text-uppercase small text-decoration-none">
                                    @item.CategoryName
                                </a>
                            </div>

                            <p>@item.Description</p>

                            <div class="btn-left">
                                <a href="/Product/GetWearByProduct/@item.WearId"
                                   class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">
                                    Keşfet
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>


        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>

        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>
